@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
}

body {
    background-color: #a5b1a3;
    font-family: "Lato", serif;
}

#header {
    background-color: #375737;
    padding-top: 1vw;
    padding-left: 2vw;
    padding-bottom: 1vw;
    padding-right: 2vw;
    height: 6.5vw;
    position: relative;
}

#header-text-wrap > h3 {
    font-size: 1.7vw;
    color: #a5caa5;
}

#header-text-wrap > h1 {
    font-size: 3.4vw;
    color: #FFFFE3;
}

#header-text-wrap {
    display: inline-block;
}

#level {
    margin-right: 2vw;
    position: absolute;
    top: 50%;
    right: 0;
    width: 50%;
    transform: translateY(-50%);
}

#level > p {
    color: #FFFFE3;
    margin-bottom: 0.5vw;
    font-size: 1.18vw;
}

#level > p > a {
    color: #FFFFE3;
    text-decoration: none;
}

#bar {
    height: 1.5vw;
    width: 100%;
    background-color: rgb(201, 194, 178);
    border-radius: 0.5vw;
    overflow: hidden;
}

#bar-fill {
    height: inherit;
    width: 25%;
    background-color: goldenrod;
}

.items {
    border: 3px solid #5d855d;
    display: inline-block;
    height: 12.5vw;
    width: 12.5vw;
    margin: 1vw;
    border-radius: 1vw;
    text-align: center;
    position: relative;
    transition: border-radius 0.1s, transform 0.1s, border 0.1s, box-shadow 0.1s;
}

.items > p {
    margin: 0;
    position: absolute;
    font-size: 1.3vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFE3;
}

.items:hover {
    border-radius: 0.3vw;
    transform: scale(105%);
    border: 3px solid #7a9e7a;
    box-shadow: 0 0 1vw #7a9e7a;
}

#item1 {
    background-image: url(imgs/train.bmp);
    background-position: 20% center;
}

#item2 {
    background-image: url(imgs/vegetarian.bmp);
    background-position: 78% center;
    background-size: cover;
}

#item2:hover span {
    color: #ff8e8e;
}

#item2 span {
    transition: color 1s;
    transition-delay: 200ms;
}

#item3 {
    background-image: url(imgs/leaf.png);
    background-position: center center;
    background-size: 105%;
    background-repeat: no-repeat;
    background-color: rgb(129, 174, 146);
}

#item4 {
    background-image: url(imgs/hand_earth.png);
    background-position: center center;
    background-size: cover;
}

#item4:hover span {
    color: #7a9e7a;
}

#item4 span {
    transition: color 1s;
    transition-delay: 200ms;
}

#item5 {
    background-image: url(imgs/lightbulb.png);
    background-position: center center;
    background-size: cover;
}

.xp-text {
    color: black;
    background-color: goldenrod;
    border-radius: 1vw;
    transition-delay: 200ms;
    transition: box-shadow 1s;
}

.time-text {
    color: black;
    background-color: #FFFFE3;
    border-radius: 1vw;
}

.bubble-container {
    position: absolute;
    bottom: 4%;
    left: 4%;
}

.bubble-text {
    display: inline-block;
    padding-top: .15vw;
    padding-bottom: .15vw;
    padding-right: .35vw;
    padding-left: .35vw;
    font-size: 1vw;
}

.items:hover .xp-text {
    box-shadow: 0 0 3vw goldenrod;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  height: 1vw;
  width: 1vw;
  color: white;
  /* border: 2px solid black; */
}

input[type="checkbox"]::before {
  content: "☆";
  position: absolute;
  top: -0.6vw;
  left: -0.3vw;
  font-size: 1.25vw;
}

input[type="checkbox"]:checked::before {
  content: "⭐";
  top: -0.2vw;
  left: -0.2vw;
  font-size: 1vw;
}

.star-container {
    position: absolute;
    top: 4%;
    right: 4%;
}

.pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border: 2px rgb(129, 174, 146) solid;
    border-radius: 1.25vw;
    min-height: 50vh;
    min-width: 50vw;
    color: #FFFFE3;
    padding: 1.25vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#pop-up-1 {
    background-image: url(imgs/train.bmp);
}

#pop-up-2 {
    background-image: url(imgs/vegetarian.bmp);
}

#pop-up-3 {
    background-image: url(imgs/leaf.png);
    background-size: 50%;
    background-color: #7a9e7ae1;
}

#pop-up-4 {
    background-image: url(imgs/hand_earth.png);
}

#pop-up-5 {
    background-image: url(imgs/lightbulb.png);
}

.pop-up > h1 {
    margin-bottom: 1vw;
}
